*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background: linear-gradient(rgb(116, 167, 233), rgb(24, 60, 139));
    color: white;
    font-family: sans-serif;
}

body.warm{
    background: linear-gradient(rgb(253, 195, 86), rgb(95, 2, 2));
}

.location{
    height: 20vh;
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
}

.icon{
    height: 15vh;
}

.temperature{
    height: 15vh;
    font-size: 2rem;
}

.summary{
    height: 20vh;
    font-size: 1.75rem;
}

#wicon{
    width: 100px;
}

.forecast-container{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.forecast{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.title{
    margin-bottom: 60px;
}

/*today*/

.forecast-img{
    margin-top: 5px;
}

.forecast-description{
    margin-bottom: 10px;
}

.max-temp{
    margin: 5px auto;
}

.min-temp{
    margin: 5px auto;
}

.feels-like{
    margin: 5px auto;
}

/*tomorrow*/

.tom-forecast-img{
    margin-top: 5px;
}

.tom-forecast-description{
    margin-bottom: 10px;
}

.tom-max-temp{
    margin: 5px auto;
}

.tom-min-temp{
    margin: 5px auto;
}

.tom-feels-like{
    margin: 5px auto;
}

/*day after tomorrow*/

.dat-forecast-img{
    margin-top: 5px;
}

.dat-forecast-description{
    margin-bottom: 10px;
}

.dat-max-temp{
    margin: 5px auto;
}

.dat-min-temp{
    margin: 5px auto;
}

.dat-feels-like{
    margin: 5px auto;
}

/*mobile*/

@media only screen and (max-width: 768px) {

    .location{
        margin-top: 125px;
    }

    .forecast{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .forecast-container{
        height: 75vh;
        margin-bottom: 100px;
    }

    .today{
        margin-top: 25px;
    }

    .tomorrow{
        margin-top: 25px;
    }

    .day-after-tomorrow{
        margin-top: 25px;
    }

    .title{
        margin-top: 50px;
    }
}